@{
    Layout = null;
    ViewBag.Title = "Winner";
}
<br><br><br><br><br><br><br><br><br><br>
<center>
    <h2>You're a Winner! Way to guess correctly!</h2>
</center>

<br><br><br>
<center>
    <div>
        @Html.ActionLink("Start Over", "Index")
    </div>
</center>